.git
.cache
.dockerignore
.gitignore
.Rhistory
.gitignore.swp
.travis.yml
bin/FastTree_v2.1.10
bin/FastTree_v2.1.11
bin/PhiPack
bin/clustal-omega-1.2.4
bin/macosx-intel
bin/parallel-20171022
bin/phylip-3.695
bin/README_manual_compilation.txt
BackDockerfile
cpanfile
docker_build.cmd
DockerfileV*
Dockerfile1
Dockerfile
CHANGES.txt
HEAD
TODO.txt
config
description
docs
lib/get_phylomarkers_fun_lib_DEV.sh
hooks
info
development_history_and_notes.txt
kdetrees_0.1.5.tar.gz
test_model_args.sh
test_sequences/core_genome.tgz
test_sequences/pan_genome.tgz
test_bats
test.bats
test_bats_unit_testing_HOWTOs.txt
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
pics
Thumbs.db
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.md
*.txt
