.git
.cache
.dockerignore
.gitignore
.Rhistory
.gitignore.swp
.travis.yml
bin/FastTree_*
bin/PhiPack
bin/clustal-omega-*
bin/macosx-intel/*
bin/parallel-*
bin/phylip-*
BackDockerfile
docker_build.cmd
DockerfileV*
Dockerfile1
HEAD
TODO.txt
config
description
hooks
info
development_history_and_notes.txt
docs/index.html
test_model_args.sh
test_sequences/core_genome.tgz
test_sequences/pan_genome.tgz
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
