.git
.cache
.dockerignore
*.md
!INSTALL.md
!README.md
.Rhistory
.gitignore.swp
.travis.yml
HEAD
TODO.txt
config
cpanfile
description
Makefile
hooks
info
development_history_and_notes.txt
docs
pics
run_test_suite.sh
test_*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
